<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Cooper's Favorite Hobby</title> @* Title for the webpages *@
    @* Import the css *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mission5Assignment.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody() @* This is where each page's code will be inserted to this layout. *@
        </main>
    </div>

    @* Footer with copyright and info about who built the page *@
    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2025 - Mission5Assignment - Built by Cooper Taylor
        </div>
    </footer>

    @* Import all of the right files to be able to use jquery, bootstrap, and site.js javascript file *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
